.sidebarContainer {
  width: 200px;
  background-color: var(--blue-dark-shade);
  border-right: 1px solid var(--blue-light-shade);
}

.sidebarLinkContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  color: white;
  text-align: center;
  padding: 20px 0;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sidebarLinkContainer a {
  width: 80%;
  display: flex;
  margin: 10px auto;
  font-size: var(--text-size-normal);
  padding: 7px 10px;
  color: lightgray;
  align-items: center;
  border-radius: 15px;
  text-decoration: none;
}

.active {
  color: white;
  background-color: var(--blue-light-shade);
}

@media screen and (max-width: 800px) {
  .sidebarContainer {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--blue-light-shade);
  }
  .sidebarLinkContainer {
    text-align: center;
  }
}
