.contactCard {
  color: white;
  width: 200px;
  background-color: var(--blue-light-shade);
  border: 1px solid black;
  margin: 20px;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
}

.contactCardDetail {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.contactCard button {
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: white;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 20px;
}

.editButton {
  background-color: rgb(6, 165, 88);
}

.editButton:hover {
  background-color: rgb(3, 114, 61);
}

.deleteButton {
  background-color: rgb(255, 81, 0);
}

.deleteButton:hover {
  background-color: rgb(162, 51, 0);
}
