@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-dark-shade: #1a1a30;
  --blue-light-shade: #2e3157;
}

body {
  font-size: 24px;
  font-family: 'Noto Serif', serif;
  background-color: var(--blue-dark-shade);
}